button{
  display:inline;
  height:40px;

}

.redDiv{
  height:100px;
  width: 100px;
  border: 1px solid black;
  background-color: red;
  display: inline-block;
}
.yellowDiv{
  height:100px;
  width: 100px;
  border: 1px solid black;
  background-color: yellow;
  display: inline-block;

}
.greenDiv{
  height:100px;
  width: 100px;
  border: 1px solid black;
  background-color: green;
  display: inline-block;

}
.blueDiv{
  height:100px;
  width: 100px;
  border: 1px solid black;
  background-color: blue;
  display: inline-block;

}
